/* SIMULATE BOOTSTRAP TABLE */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
  padding: .55rem;
  border-top: 1px solid #dee2e6;
  text-align: inherit;
}

th div {
  padding-top: .55rem;
  padding-bottom: .55rem;
}
/* END SIMULATE BOOTSTRAP TABLE */